
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: rgba(13,37,45,1) 50%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  background-color: bisque;
  height: 100vh;
  background: rgb(41,41,41);
  background: linear-gradient(180deg, rgba(41,41,41,1) 0%, rgba(13,37,45,1) 50%);
}